@use '../helpers' as *;

.hero {

  &__main {
    padding: 0;
    padding-bottom: rem(100);
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    min-height: rem(800);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 122.819%;
    height: auto;
    max-width: none;
    margin-left: -1.0495%;
    margin-top: -27.886%;
    transform-origin: 41.57% 59.5%;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background-image:
      linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
      linear-gradient(to bottom, rgb(44 29 4 / 40%), rgb(44 29 4 / 0%));
  }

  &__fade {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background-color: var(--color-hero-overlay);
    opacity: 0;
  }

  &__body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: rem(30);
    position: relative;
    z-index: 2;
  }

  &__title {

    &-line {
      @include line-mask;
      @include
      title(rem(75), var(--color-text-white));
      letter-spacing: -0.02em;
      text-transform: uppercase;
    }

    &-text {
      display: block;
    }

    &-line--accent {
      font-style: italic;
    }
  }

  &__subtitle {
    @include
    description(rem(18), var(--color-text-white));
    max-width: rem(607);

  }
}
